<tr>
  <td><%= food.name %></td>
  <td><%= food.measurement_unit %></td>
  <td>$ <%= food.price %></td>
  <td class="del_btn">
  <% if can? :destroy, food %> 

      <div>

        <%= button_to 'Remove', food_path(id: food.id), method: :delete, class: "btn btn-danger" %>
      
        </div>
        <% end %>
  </td>
</tr>